<!-- Pantalla de carga  -->
<app-progress *ngIf="isLoading"></app-progress>
<mat-toolbar class="my_app_bar">
       
    <span class="example-spacer"></span>
    <button mat-button>Login</button>
  </mat-toolbar>
<div class="container" *ngIf=" !isLoading">
   
    <div class="row" >
        <div class="col-md-5 mx-auto text-center">
            <img src="assets/logo.png" alt="">    
            <div class="login-right">
                <!-- Ingresar y validar datos ingresados en los inputs  -->
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="sign-in">
                        <!-- Correo o usuario -->
                        <h4>Usuario</h4>
                        <input type="text" required [(ngModel)]="nombreInput" name="nombre" autocomplete="off">
                    </div>
                    <div class="sign-in">
                        <!-- Contraseña  -->
                        <h4>Contraseña</h4>
                        <input *ngIf="!mostrarTexto" type="password" required [(ngModel)]="claveInput" name="clave">
                        <input *ngIf="mostrarTexto" type="text" required [(ngModel)]="claveInput" name="clave"
                            autocomplete="off">
                        <br>
                       
                    </div>

                    <div class="sign-in">
                        <!-- Contraseña  -->
                        <h4>Confirmar Contraseña</h4>
                        <input *ngIf="!mostrarTexto" type="password" required [(ngModel)]="confirmarClaveInput" name="clave">
                        <input *ngIf="mostrarTexto" type="text" required [(ngModel)]="confirmarClaveInput" name="clave"
                            autocomplete="off">
                        <br>
                        <!-- Ver y ocutar contraseña -->
                        <p *ngIf="!mostrarTexto" (click)="this.mostrarTexto = !this.mostrarTexto">Ver contraseñas</p>
                        <p *ngIf="mostrarTexto" (click)="this.mostrarTexto = !this.mostrarTexto">Ocultar contraseña</p>
                        <!-- <a>Olvidaste tu contraseña?</a> -->
                        <!-- <a>Registrate</a> -->
                    </div>
                   
                    <!-- Ingresar, iniciar sesion -->
                    <div class="sign-in">
                        <input type="submit" value="Registrate">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>