<app-progress *ngIf="isLoading"></app-progress>

<mat-sidenav-container *ngIf="!isLoading" class="sidenav_container">

  <mat-sidenav-content>
    <mat-toolbar class="toolbarPhone">
      <mat-toolbar-row>
        <img class="logo" src="assets/logo.png" alt="B3RERT">

        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>arrow_drop_down</mat-icon> Reportes</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Catalogo de productos</button>
          <button mat-menu-item>Resumido Documentos</button>
          <button mat-menu-item>Detallado Documentos</button>
        </mat-menu>
        <button mat-button (click)="seller()">Ventas</button>
        <button mat-button (click)="create()">Nuevo Producto</button>
        <button mat-icon-button (click)="logOut()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar-row>

    </mat-toolbar>
    <mat-toolbar class="toolbarlarge">
      <img class="logo" src="assets/logo.png" alt="B3RERT">

      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>arrow_drop_down</mat-icon> Reportes</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Catalogo de productos</button>
        <button mat-menu-item>Resumido Documentos</button>
        <button mat-menu-item>Detallado Documentos</button>
      </mat-menu>
      <button mat-button (click)="seller()">Ventas</button>
      <button mat-button (click)="create()">Nuevo Producto</button>
      <button mat-icon-button (click)="logOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <!--Container-->
    <div class="container_page">
      <div class="container content">


        <div class="d-flex">

          <h4 class="title_page">Productos ({{products.length}}) </h4>
          <span class="example-spacer"></span>
          <h4 class="title_page">Inventario valorizado ({{granTotal | currency}}) </h4>
        </div>


        <div class="row">
          <div class="col">
            <input [(ngModel)]="searchText" (input)="filterProducts()" class="form-control searchText" type="text"
              placeholder="Buscar">
          </div>
        </div>

        <div class="row">
          <div class="col">

            <app-not-found *ngIf="filteredProducts.length == 0"></app-not-found>


            <ol class="list-group  products" *ngIf="filteredProducts.length > 0">
              <li *ngFor="let product of filteredProducts; let i = index"
                class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div>(SKU {{product.codigoProducto}}) {{product.nombreProducto}} </div>
                  <div>Cantidad: {{product.cantidadProducto}} </div>
                  Precio unitario: {{product.precioUnitario | currency}}
                  <div>Total: {{product.cantidadProducto * product.precioUnitario | currency}}</div>
                </div>
                <button mat-icon-button (click)="deleteProduct(i);">
                  <mat-icon>delete_outline</mat-icon>
                </button>
                <button mat-icon-button (click)="editProduct(product)">
                  <mat-icon>edit_outline</mat-icon>
                </button>
                <!-- <span class="badge bg-primary rounded-pill">{{product.cantidadProducto}}</span>
                       -->
                <!-- <div>584854</div> -->
              </li>

            </ol>
          </div>
        </div>
      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>