<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>Error! No se han encontrado registros</h2>
        <p>Es posible que lo que está buscando se haya eliminado o no está disponible temporalmente.</p>
        <!-- Paginas sosiales en caso de haber
        <div class="notfound-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
        -->
    </div>
</div>