  /*SideNav*/

  .icon_close_head {
    cursor: pointer;
}

.head_carr_end {
    color: #000;
    font-weight: 300;
}

.spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 365px;
}

@media screen and (max-width: 365px) {
    mat-sidenav {
        width: 100%;
    }
}

.sidenav_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Fin SideNav*/

/*Toolbar*/

.icon_toolbar {
    font-size: 22px;
}

.toolbarPhone {
    display: none;
}

.toolbarPhone, .toolbarlarge {
    position: fixed !important;
}

@media screen and (max-width: 767px) {
    .toolbarlarge {
        display: none !important;
    }
    .toolbarPhone {
        display: block !important;
    }
}

/*Fin Toolbar*/

/*Contendo derecho*/

.container_page::-webkit-scrollbar {
    width: 7px;
}

.container_page::-webkit-scrollbar-track {
    background: #f3c5d3;
}

.container_page::-webkit-scrollbar-thumb {
    background-color: #942545;
    border-radius: 20px;
    border: 3px #f3c5d3;
}

.container_page {
    height: 100vh;
    width: 100vw;
    margin-top: 65px;
    position: fixed;
    overflow: auto;

}




.head__sidenav {
    height: 44px !important;
}

/*Fin Contendo derecho*/


$color-naranja: #FCD000;
$color-negro: #000000;
$color-blanco: #fff;
$color-gris: #c1bfbf;
$color-azul : #942545;

/*-- login --*/
.login-right {
  margin-top: 10%;
}

.login-right input[type="text"],
.login-right input[type="password"] {
  width      : 100%;
  padding    : 10px;
  font-weight: normal;
  background : none;
  border     : 1px solid $color-gris;
  color      : $color-naranja;
  outline    : none;
  font-size  : 14px;
  margin     : 6px 0 17px 0px;
}

.login-right input[type="text"]:hover,
.login-right input[type="password"]:hover,
.login-right input[type="email"]:hover {
  border: 1px solid $color-naranja;
}

.login-right h4 {
  text-align: start;
  color     : white;
  font-size : 14px;
  margin    : 0 0 0px 0;
}



.login-right input[type="submit"] {
  background        : $color-azul;
  color             : $color-blanco;
  font-size         : 17px;
  border            : none;
  width             : 100%;
  outline           : none;
  padding           : 8px 15px 9px 15px;
  transition        : 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition   : 0.5s all;
  -o-transition     : 0.5s all;
}

.login-right input[type="submit"]:hover {
  background: $color-naranja;
  color     : $color-negro;
}

.login-right h3 {
  color        : $color-naranja;
  font-size    : 22px;
  margin-bottom: 23px;
}

.login-right h6 {
  color        : $color-naranja;
  font-size    : 15px;
  margin-bottom: 23px;
}

.sign-in a,
p {
  font-size      : 13px;
  color          : white;
  cursor         : pointer;
  text-decoration: none;
}

.sign-in p {
  text-align: right;
}

.sign-in a:hover {
  color: $color-naranja;
}

.sign-in p:hover {
  color: $color-naranja;
}

.single-bottom {
  margin: 14px 0 22px;
}

.single-bottom label {
  margin-left: 5px;
}

.single-bottom label:hover {
  color: $color-naranja;

}

.single-bottom input,
.single-bottom label {
  cursor: pointer;
}

/*-- //login --*/