<app-progress *ngIf="isLoading"></app-progress>
<mat-sidenav-container class="sidenav_container" (backdropClick)="close('backdrop')" *ngIf="!isLoading">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>

    </mat-sidenav>
    <mat-sidenav position="end" #sidenavend (keydown.escape)="close('escape')" disableClose>

        <mat-toolbar class="head__sidenav ">
            <button mat-icon-button (click)="close('toggle button')">
                <mat-icon>close</mat-icon>
            </button>
            <span class="spacer"></span>
            <h6>Mis Produtos</h6>
            <span class="spacer"></span>
        </mat-toolbar>

        <ol class="list-group transacciones">
            <div *ngFor="let transaccion of transacciones; let i = index">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>{{transaccion.product.nombreProducto}}</div>
                        {{transaccion.product.precioUnitario | currency}} x {{transaccion.cantidad}}
                    </div>
                    <div class="ms-2 ">
                        <div class="d-flex">
                            <span class="spacer"></span>

                            <button mat-icon-button (click)="deleteItem(i)">
                                <mat-icon>delete_outline</mat-icon>

                            </button>
                        </div>
                        <div class="form_unit">
                            <mat-icon class="btn_menos" (click)="removeCantidad(i)">remove</mat-icon>
                            <input class="input_forms" type="number" [value]="transaccion.cantidad" readonly="">
                            <mat-icon class="btn_mas" (click)="addCantidad(i)">add</mat-icon>
                        </div>
                    </div>
                </li>
            </div>
        </ol>

        <div class="footer_carrito" *ngIf="transacciones.length > 0">
            <div class="cont_sub">
                <input type="button" value="Vaciar Carrito" (click)="limpiarCarrito()">
            </div>
            <div class="cont_total">
                <p>Total.</p>
                <p>{{total | currency}}</p>
            </div>
            <input type="button" class="btn_paymentsales " (click)="confirDoc()" value="Continuar">
        </div>
        <div class="footer_carrito" *ngIf="transacciones.length == 0">
            <div class="cont_sub">
                <input type="button" value="Carrito Vacio">
            </div>
        </div>


    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbarPhone">
            <mat-toolbar-row>
                <button mat-icon-button (click)="backPage()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <img class="logo" src="assets/logo.png" alt="B3RERT">

                <span class="spacer"></span>
                <mat-icon class="badgeShop" [matBadge]="transacciones.length" matBadgeColor="warn"
                    (click)="sidenavend.open()">shopping_cart</mat-icon>

            </mat-toolbar-row>

        </mat-toolbar>
        <mat-toolbar class="toolbarlarge">
            <button mat-icon-button (click)="backPage()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <img class="logo" src="assets/logo.png" alt="B3RERT">

            <span class="spacer"></span>
            <mat-icon class="badgeShop" [matBadge]="transacciones.length" matBadgeColor="warn"
                (click)="sidenavend.open()">shopping_cart</mat-icon>

        </mat-toolbar>
        <!--Container-->
        <div class="container_page">
            <div class="container container_products">
                <div class="row">
                    <div class="col">
                        <input [(ngModel)]="searchText" (input)="filterProducts()" class="form-control searchText"
                            type="text" placeholder="Buscar">
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <app-not-found *ngIf="filteredProducts.length == 0"></app-not-found>


                        <ol class="list-group  products" *ngIf="filteredProducts.length > 0">
                            <li *ngFor="let product of filteredProducts; let i = index"
                                class="list-group-item d-flex justify-content-between align-items-start"
                                (click)="addProduct(product)">
                                <div class="ms-2 me-auto">
                                    <div>(SKU {{product.codigoProducto}}) {{product.nombreProducto}} </div>
                                    <div>Existencias: {{product.cantidadProducto}} </div>
                                    Precio unitario: {{product.precioUnitario | currency}}
                                </div>


                            </li>

                        </ol>
                    </div>
                </div>
            </div>


        </div>
    </mat-sidenav-content>
</mat-sidenav-container>