<mat-sidenav-container class="sidenav_container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>

    </mat-sidenav>
    <mat-sidenav position="end" #sidenavend (keydown.escape)="close('escape')" disableClose>

        <mat-toolbar class="head__sidenav ">
            <button mat-icon-button (click)="close('toggle button')">
                <mat-icon>close</mat-icon>
            </button>
            <span class="spacer"></span>
            <h6>Encabezado</h6>
            <span class="spacer"></span>
        </mat-toolbar>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbarPhone">
            <mat-toolbar-row>
                <button mat-icon-button (click)="backPage()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <img class="logo" src="assets/logo.png" alt="B3RERT">

                <span class="spacer"></span>
                <mat-icon class="badgeShop" [matBadge]="transacciones.length" matBadgeColor="warn" (click)="sidenavend.open()">shopping_cart</mat-icon>
                
            </mat-toolbar-row>

        </mat-toolbar>
        <mat-toolbar class="toolbarlarge">
            <button mat-icon-button (click)="backPage()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <img class="logo" src="assets/logo.png" alt="B3RERT">

            <span class="spacer"></span>
            <mat-icon class="badgeShop" [matBadge]="transacciones.length" matBadgeColor="warn" (click)="sidenavend.open()">shopping_cart</mat-icon>
          
        </mat-toolbar>
        <!--Container-->
        <div class="container_page">



        </div>
    </mat-sidenav-content>
</mat-sidenav-container>