<mat-sidenav-container class="sidenav_container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>

    </mat-sidenav>
    <mat-sidenav position="end" #sidenavend (keydown.escape)="close('escape')" disableClose>

        <mat-toolbar class="head__sidenav ">
            <button mat-icon-button (click)="close('toggle button')">
                <mat-icon>close</mat-icon>
            </button>
            <span class="spacer"></span>
            <h6>Encabezado</h6>
            <span class="spacer"></span>
        </mat-toolbar>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbarPhone">
            <mat-toolbar-row>
                <button mat-icon-button (click)="backPage()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <img class="logo" src="assets/logo.png" alt="B3RERT">

                <span class="spacer"></span>
                <mat-icon class="badgeShop" [matBadge]="transacciones.length" matBadgeColor="warn"
                    (click)="sidenavend.open()">shopping_cart</mat-icon>

            </mat-toolbar-row>

        </mat-toolbar>
        <mat-toolbar class="toolbarlarge">
            <button mat-icon-button (click)="backPage()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <img class="logo" src="assets/logo.png" alt="B3RERT">

            <span class="spacer"></span>
            <mat-icon class="badgeShop" [matBadge]="transacciones.length" matBadgeColor="warn"
                (click)="sidenavend.open()">shopping_cart</mat-icon>

        </mat-toolbar>
        <!--Container-->
        <div class="container_page">
            <div class="container container_products">
                <div class="row">
                    <div class="col">
                        <input [(ngModel)]="searchText" (input)="filterProducts()" class="form-control searchText"
                            type="text" placeholder="Buscar">
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <app-not-found *ngIf="filteredProducts.length == 0"></app-not-found>


                        <ol class="list-group  products" *ngIf="filteredProducts.length > 0" >
                            <li *ngFor="let product of filteredProducts; let i = index"
                                class="list-group-item d-flex justify-content-between align-items-start" (click)="addProduct(product)">
                                <div class="ms-2 me-auto" >
                                    <div>(SKU {{product.codigoProducto}}) {{product.nombreProducto}} </div>
                                    <div>Existencias: {{product.cantidadProducto}} </div>
                                    Precio unitario: {{product.precioUnitario | currency}}
                                </div>


                            </li>

                        </ol>
                    </div>
                </div>
            </div>


        </div>
    </mat-sidenav-content>
</mat-sidenav-container>